.app__wrap {
    margin: 15px 0;
}

.app__title {
    margin-bottom: 20px;
}

.app__title span {
    font-weight: normal;
}

.app__btn {
    padding: 5px;
    cursor: pointer;
    color: black !important;
    border: 2px solid purple;
    border-radius: 3px;
    transition: background-color 1s;
}

.app__btn:hover{
    background-color: rgba(190, 23, 190, 0.76);
    color: white !important;
}

.app__btn.active{
    background-color: rgba(190, 23, 190, 0.76);
    color: white !important;
}
